Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "origin, content-type, accept"
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule "^(.*)$" index.php