@import url("/assets/fonts/avenir.css");


body{
	background-color: #EEE;
	font-family: "Avenir-Book" , Arial, Sans-Serif;
	font-size: 16px;
	font-weight: normal;

}

strong{
	font-family: "Avenir-Black" , Arial, Sans-Serif;
	font-weight: bolder;

}

#luna-home{
	color: rgba(171,171,171, 0.6);
	font-size: 2.5em;
	margin-top: 10%;
	text-shadow: 2px 2px 4px #FFF;
}